doctype html
html(lang="en")
  head
    include _include/head
  body(style="background-image:url(media/pattern/tree_bark.png)")
    main.container
      .wrap-info
        img(src="media/images/profile-img.jpg", alt="")
        p Hello There ! Here is mudit Jain. And This is a awesome Css Starter Kit Based On Toast.
          | it's Very Easy to customize. Perfect TO Jump Into New Project. 
        .link
          a(href="https://github.com/muditjaingit/dcrush-css-starter-kit") Get Starter Kit 
          a(href="https://prepros.io/downloads" target="_blank" rel="nofollow") Get Prepros 
        
                  
    include _include/foot
    
    
     
    
    
