doctype html
html(lang="en")
  head
    include _include/head
  body(style="background-image:url(media/pattern/photography.png)")
    main.container
      .wrap-info
        img(src="media/images/profile-img.jpg", alt="")
        p Hello There ! Here is mudit Jain. And This is a awesome Css Starter Kit Based On Toast.
          | It's Very Easy to customize. Perfect to Jump Into New Project. 
      
                  
    include _include/foot
    
    
     
    
    
