footer
 p 
    |copyright &copy; 2016. <a href="http://www.techmudit.com" target="_blank">Mudit Jain</a>
    
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js")
script(type="text/javascript", src="js/simplr.smoothscroll.js")
script(type="text/javascript", src="js/main.js")
  
