/*importing fonts*/
@font-face {
    font-family:'brandon';
    font-style:normal;
    font-weight:300;
    src:url('../media/fonts/brandon-medium.ttf');
}

@font-face {
    font-family:'brandon';
    font-style:normal;
    font-weight: 600;
    src:url('../media/fonts/brandon-bold.ttf');
}

@font-face {
    font-family:'brandon';
    font-style:normal;
    font-weight: 900;
    src:url('../media/fonts/brandon-black.ttf');
}
